@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@300;400;500;700&family=Bellefair&family=Poppins:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heritage-animation {
  animation: anim-large 2s ease forwards;
}

.career-animation {
  animation: anim-small 2s ease forwards;
}

.blue-glassmorphism {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
}

.fadeInDown {
  animation: fadeInDown 1s ease forwards;
}

.fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 

@keyframes fadeInUp {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 


@keyframes anim-large {
  from { width: 0%;}
  to { width: 60%;}
}

@keyframes anim-small {
  from { width: 0%;}
  to { width: 50%;}
}
.divider {
    display: flex;
    align-items: center;
  }
  
  /* To show the lines on right 
  and left sides of the text */
  .divider::after,
  .divider::before {
    content: "";
    border: 1px solid rgb(255, 255, 255);
    flex: 1;
  }

  .dark-divider {
    display: flex;
    align-items: center;
    text-align: center;
    border: 0.5px solid rgb(146, 127, 255);
    flex: 1;

  }
  
  /* Space on left and right sides of text */
  .divider:not(:empty)::before {
    margin-right: 0.5em;
  }
  
  .divider:not(:empty)::after {
    margin-left: 0.5em;
  }
.divider-with-font {
    display: flex;
    align-items: center;
  }
  
  /* To show the lines on right 
  and left sides of the text */
  .divider-with-font::after,
  .divider-with-font::before {
    content: "";
    border: 1px solid rgb(222, 218, 255);
    flex: 1;
  }

  .dark-divider-with-font {
    display: flex;
    align-items: center;
    text-align: center;
    border: 0.5px solid rgb(146, 127, 255);
    flex: 1;

  }
  
  /* Space on left and right sides of text */
  .divider-with-font:not(:empty)::before {
    margin-right: 0.5em;
  }
  
  .divider-with-font:not(:empty)::after {
    margin-left: 0.5em;
  }
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}